[submodule "deps/jerryscript"]
	path = deps/jerryscript
	url = https://github.com/jerryscript-project/jerryscript
[submodule "deps/esp-idf"]
	path = deps/esp-idf
	url = https://github.com/espressif/esp-idf.git
